.container_pages_App{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 10vh;
  font-family: 'Playfair', serif;
}

.text_category_element_block{
  margin: 4vh 5vh;
  font-family: 'Playfair', serif;
}





